<% layout('layouts/boilerplate') %>
<div class="row vh-90 border border-success">
	<%- include('../../../partials/sidebar') %>	<!-- relative path -->
	<div class="col-10 border border-secondary">
		<div class="card row">
			<div class="col-8 offset-2 card-title text-center">
				<p class="display-6 fw-bold mb-0"><%= ownerSample.businessName %></p>
				<p><%= ownerSample.businessAddress %></p>
			</div>
			<div class="card-body">
				<p>First Name: <%= ownerSample.firstName %></p>
				<p>Last Name: <%= ownerSample.lastName %></p>
				<p>Phone: <%= ownerSample.phone %></p>
				<p>Email: <%= ownerSample.email %></p>
				<p>Password: <%= ownerSample.password %></p>
			</div>
			<div class="w-100"><hr></div>
			<div class="row mb-2">
				<div class="d-grid col-6">
					<a href="/owner/profile/edit" class="btn btn-success">Edit Profile</a>
				</div>
				<div class="d-grid col-6">
					<a href="/owner/transactions" class="btn btn-success">Go to Reports</a>
				</div>
			</div>
		</div>
	</div>
</div>