<% layout('layouts/boilerplate') %>
<% if (success.length) { -%>
	<%-include('../../../partials/success')%>
<% } -%>
<div class="row vh-90 text-primary">
	<div class="col-10 offset-1 p-0">
		<div class="card row bg-light">
			<div class="col-12 mb-0 mt-2 card-title text-center">
				<p class="display-5 fw-bold p-0 m-0"><%= user.businessName%></p>
				<p class="display-6 fw-bold m-0">Transactions</p>
			</div>
			<div class="row mb-2 p-0 m-0">
				<div class="d-grid">
					<a href="/owner/transactions/new" class="btn btn-success text-primary">Start a New Transaction</a>
				</div>
			</div>
			<div class="card-body p-1">
					<div class="row mb-2 align-items-center p-0">
						<div class="col-2">
							<form class="d-grid justify-content-start" action="/owner/transactions" method="GET">
								<button type="submit" name="prevOrNext" value="prev" class="gg-arrow-left-o btn btn-secondary text-primary"></button>
							</form>
						</div>
						<div class="col-8">
							<div class="row">
								<form class="col-4 d-grid p-0" action="/owner/transactions" method="GET">
						  		<button type="submit" name="viewType" value="thirty-day" class="btn btn-sm btn-secondary text-primary">30-Day</button>
						  	</form>
								<form class="col-4 d-grid p-0" action="/owner/transactions" method="GET">
							  	<button type="submit" name="viewType" value="all" class="btn btn-sm btn-secondary text-primary mx-1">All</button>
							  </form>
								<form class="col-4 d-grid p-0" action="/owner/transactions" method="GET">
						  		<button type="submit" name="viewType" value="monthly" class="btn btn-sm btn-secondary text-primary">Monthly</button>
						  	</form>
							</div>
						</div>
						<div class="col-2">
							<form class="justify-content-end" action="/owner/transactions" method="GET">
								<button type="submit" name="prevOrNext" value="next" class="gg-arrow-right-o btn btn-secondary text-primary"></button>
							</form>
						</div>
					</div>

					<div class="row mb-2 p-0">
						<div class="col-2 d-grid ps-2">
							<p class="text-primary style-start-end p-0"><%=startDate%></p>
						</div>
						<div class="col-8 px-3">
							<form action="/owner/transactions" method="GET">
								<div class="input-group input-group-sm">
									<span class="px-0 input-group-text btn btn-sm bg-secondary text-primary">Client</span>
									<input id="filterInput" type="text" class="px-1 form-control btn-sm text-primary" placeholder="Client Name" aria-label="client name" name="client" value="<%=clientName%>">
									<div class="input-group-btn">
										<button class="px-0 btn btn-sm btn-success text-primary">Filter</button>
									</div>
								</div>
							</form>
						</div>
						<div class="col-2 d-grid ps-0 ms-n0 justify-content-end">
							<p class="text-primary style-start-end p-0"><%=endDate%></p>
						</div>
					</div>

					<div class="row mb-2">
						<div class="col-3">
							<h3 class="text-center">Date</h3>
							<% for(let item of sortedTransactions) { %>
							<p class="text-center style-transaction-info"><a class="text-secondary" href="/owner/transactions/<%= item._id %>"><%= item.myDate %></a></p>
							<% } %>
						</div>
						<div class="col-6">
							<h3 class="text-center">Description</h3>
							<% for(let item of sortedTransactions) { %>
								<% let final = "" %>
								<% item.lineItems.reverse().forEach(content => {%>
									<% final = content.lineItemContent + "," + final; %>
								<% }) %>
								<% final = item.client + ": " + final;%>
								<% final = final.length > 23? final.substring(0,23) : final;%>
								<p class="text-center style-transaction-info">
									<%= final.includes(',') ? final.split(',').slice(0,-1).join(', ') : final %>
								</p>
							<% } %>
						</div>
						<div class="col-3">
							<h3 class="text-center">Total</h3>
							<% for(let item of sortedTransactions) { %>
								<p class="text-center style-transaction-info">$<%=item.total%></p>
							<% } %>
						</div>
					</div>
					
					<hr>
					
					<div class="row mb-2 inline-block">
						<div class="col-5 offset-3">
							<h5 class="fw-bold">TOTAL:</h5>
						</div>
						<div class="col-4 p-0 m-0">
							<h5 class="text-center fw-bold">$<%= viewTotal.toLocaleString(undefined) %></h5>
						</div>
					</div>
					<div class="row mb-2">
						<div class="d-grid">
							<a href="/owner/transactions/new" class="btn btn-success text-primary">Start a New Transaction</a>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>

<script>
	let clientArray = [];
	clientList = `<%-JSON.stringify(clientList)%>`;
	clientList = clientList.substring(1,clientList.length-1);
	clientList = clientList.replaceAll('"', "");
	clientList = Object.values(clientList.split(','));
	console.log(clientList);

	document.getElementById('filterInput').addEventListener('keyup', (e)=>{
		if (e.target.value) {
			clientArray = clientList.filter(client =>
				client.includes(e.target.value)
			)
			// clientArray = clientList.filter(client =>{
				// client.toLowerCase().includes(e.target.value);
			// })
			// console.log(e.target.value)
		}
		// console.log(clientArray);
	})
</script>