<% layout('layouts/boilerplate') %>
<% if (success.length) { -%>
	<%-include('../../../partials/success')%>
<% } -%>
<div class="row vh-90 text-primary">
	<div class="col-10 offset-1">
		<div class="card row bg-light">
			<div class="col-10 offset-1 mb-0 mt-2 card-title text-center">
				<p class="display-6 fw-bold m-0"><%= user.businessName%></p>
				<p class="display-6 fw-bold m-0">Transactions</p>
			</div>
			<div class="card-body">
					<div class="row mb-2">
						<div class="col-3">
							<form class="d-grid justify-content-center" action="/owner/transactions" method="GET">
								<button type="submit" name="prevOrNext" value="prev" class="gg-arrow-left-o btn btn-secondary text-primary"></button>
							</form>
							<p class="btn btn-outline-none mt-3 text-primary d-grid filter-nav-form"><%=startDate%></p>
							<h3 class="text-center">Date</h3>
							<% for(let item of sortedTransactions) { %>
							<p class="text-center"><a class="text-secondary" href="/owner/transactions/<%= item._id %>"><%= item.myDate %></a></p>
							<% } %>
						</div>
						<div class="col-6">
							<div class="row align-items-center">
								<form action="/owner/transactions" method="GET">
									<div class="btn-group btn-group-sm mb-2" role="group" aria-label="Basic example">
									  <button type="submit" name="viewType" value="thirty-day" class="p-1 btn btn-secondary text-primary filter-nav-btns">30-Day</button>
									  <button type="submit" name="viewType" value="all" class="btn btn-secondary text-primary mx-1 filter-nav-btns">All</button>
									  <button type="submit" name="viewType" value="monthly" class="btn btn-secondary text-primary filter-nav-btns">Monthly</button>
									</div>
								</form>
							</div>
							<div class="row mb-2">
								<form action="/owner/transactions" method="GET">
									<div class="input-group input-group-sm">
										<span class="px-0 input-group-text btn btn-sm bg-secondary text-primary">Client</span>
										<input type="text" class="px-1 form-control btn-sm text-primary" placeholder="Client Name" aria-label="client name" name="client" value="<%=clientName%>">
										<div class="input-group-btn">
											<button class="px-0 btn btn-sm btn-success text-primary">Filter</button>
										</div>
									</div>
								</form>
							</div>
							<h3 class="text-center mb-3 pt-2">Description</h3>

							<% for(let item of sortedTransactions) { %>
								<% let final = "" %>
								<% item.lineItems.forEach(content => {%>
									<% final = content.lineItemContent + "," + final %>
								<% }) %>
								<p class="text-center">
									<%= item.client %>: <%= final.split(',').slice(0,-1).join(', ') %>
								</p>
							<% } %>
						</div>

						<div class="col-3">
							<form class="d-grid justify-content-center" action="/owner/transactions" method="GET">
								<button type="submit" name="prevOrNext" value="next" class="gg-arrow-right-o btn btn-secondary text-primary"></button>
							</form>
							<p class="btn btn-outline-none mt-3 text-primary d-grid filter-nav-form"><%=endDate%></p>
							<h3 class="text-center">Total</h3>
							<% for(let item of sortedTransactions) { %>
								<p class="text-center">$<%=item.total%></p>
							<% } %>
						</div>
						<hr>
					</div>
					 
					<div class="row mb-2 inline-block">
						<div class="col-5 offset-4">
							<h5 class="fw-bold">TOTAL:</h5>
						</div>
						<div class="col-3">
							<h5 class="text-center fw-bold">$<%= viewTotal %></h5>
						</div>
					</div>
					<div class="row mb-2">
						<div class="d-grid">
							<a href="/owner/transactions/new" class="btn btn-success text-primary">Start a New Transaction</a>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>