<% layout('layouts/boilerplate') %>
<!-- <h1>isOwner</h1> -->
<div class="row vh-90 border border-success">
	<%- include('../../../partials/sidebar') %>	<!-- relative path -->
	<div class="col-10 border border-secondary">
		<div class="card row">
			<div class="col-4 offset-4 card-title text-center h2 bg-primary">
				<%= seededTransactions[0].salon %> Salon
			</div>
			<div class="card-body">
					<div class="row mb-2">
						<div class="col-4">
							<button class="btn btn-info mb-2">Prev Month</button>
							<h3>Date</h3>
							<% for(let item of seededTransactions) { %>
							<p><%= item.date %></p>
							<% } %>
						</div>
						<div class="col-4">
							<button class="btn invisible mb-2">Placeholder</button>
							<h3>Description</h3>
							<% for(let item of seededTransactions) { %>
								<p><% for(let content of item.lineItems) { %>
									<%= content.lineItemContent %>,
								<% } %></p>
							<% } %>
						</div>
						<div class="col-4">
							<button class="btn btn-info mb-2">Next Month</button>
							<h3>Value</h3>
							<% for(let item of seededTransactions) { %>
								<p>$<%=item.total%></p>
							<% } %>
						</div>
						<hr>
					</div>
					<!-- 
					<div class="row mb-2 inline-block">
						<div class="col-4 offset-4">
							<p class="display-6">TOTAL:</p>
						</div>
						<div class="col-4">
							<p class="display-6 fw-bold">$<%=seededTransactions[0].total%></p>
						</div>
					-->
					</div>
					<div class="row mb-2">
						<div class="d-grid">
							<a href="/owner/transactions/new" class="btn btn-success">Start a New Transaction</a>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>



<!-- <script>
	// turn array into comma-separated string
	function stringifyLineItemContent(lineItemsArray){
		lineItemsArray.join
	}
</script> -->