<% layout('layouts/boilerplate') %>
<!-- <h1>isOwner</h1> -->
<% if (success.length) { -%>
	<%-include('../../../partials/success')%>
<% } -%>
<div class="row vh-90 text-primary">
	<div class="col-12">
		<div class="card row">
			<div class="col-6 offset-3 card-title text-center">
				<p class="display-6 fw-bold mb-0"><%= transaction.salon %></p>
			</div>
			<div class="card-body">
					<div class="row mb-2">
						<div class="col">
							Salon Owner: <p><%= transaction.owner.firstName%> <%= transaction.owner.lastName%></p>
						</div>
						<div class="col">
							Salon Client: <p><%= transaction.client%></p>
						</div>
						<div class="col">
							Transaction Date: <p><%=transaction.date.toLocaleString().split(',')[0]%></p>
						</div>
					</div>
					<div class="row mb-2">
						<div class="col-4">
							<h3>Type</h3>
							<% for(let lineItem of transaction.lineItems) {%>
								<p><%=lineItem.lineItemType%>: </p>
							<% } %>
						</div>
						<div class="col-4">
							<h3>Description</h3>
							<% for(let lineItem of transaction.lineItems) {%>
								<p><%=lineItem.lineItemContent%></p>
							<% } %>
						</div>
						<div class="col-4">
							<h3>Value</h3>
							<% for(let lineItem of transaction.lineItems) {%>
								<p>$<%=lineItem.lineItemValue%></p>
							<% } %>
						</div>
						<hr>
					</div>
						<div class="row mb-2 inline-block">
							<div class="col-4 offset-4">
								<p class="display-6">TOTAL:</p>
							</div>
							<div class="col-4">
								<p class="display-6 fw-bold">$<%=transaction.total%></p>
							</div>
						</div>
					<div class="row mb-2">
						<div class="col-12">
							<h3>Transaction Notes:</h3>
							<% if(transaction.transactionNotes.length) {%>
								<%= transaction.transactionNotes %>
								<% } else {%>
								None
								<% } %>
						</div>
					</div>
					<div class="row mb-2">
						<div class="d-grid col-3">
							<a href="/owner/transactions/new" class="btn btn-success text-primary style-show-btns">New Transaction</a>
						</div>
						<div class="d-grid col-3">
							<a href="/owner/transactions" class="btn btn-success text-primary style-show-btns">Reports</a>
						</div>
						<div class="d-grid col-3">
							<a href="/owner/transactions/<%=transaction._id%>/edit" class="btn btn-success text-primary style-show-btns">Edit</a>
						</div>
						<!-- <div class="d-grid col-3"> -->
							<form class="d-grid col-3" action="/owner/transactions/<%=transaction._id%>?_method=DELETE" method=POST>
								<button class="btn btn-danger text-primary style-show-btns">Delete</button>
							</form>
						<!-- </div> -->
					</div>
			</div>
		</div>
	</div>
</div>






