<% layout('layouts/boilerplate') %>
<!-- <h1>isOwner</h1> -->

<div class="row vh-90 border border-success">
	<%- include('../../../partials/sidebar') %>	<!-- relative path -->
	<div class="col-10 border border-secondary">
		<div class="card row">
			<div class="col-4 offset-4 card-title text-center h2 bg-primary">
				<%= transaction.salon %> Salon
			</div>
			<div class="card-body">
					<div class="row mb-2">
						<div class="col">
							Salon Owner: <p><%= transaction.owner.firstName%> <%= transaction.owner.lastName%></p>
						</div>
						<div class="col">
							Salon Client: <p><%= transaction.client%></p>
						</div>
						<div class="col">
							Transaction Date: <p><%=transaction.date.toLocaleString().split(',')[0]%></p>
						</div>
					</div>
					<div class="row mb-2">
						<div class="col-4">
							<h3>Type</h3>
							<% for(let lineItem of transaction.lineItems) {%>
								<p><%=lineItem.lineItemType%>: </p>
							<% } %>
						</div>
						<div class="col-4">
							<h3>Description</h3>
							<% for(let lineItem of transaction.lineItems) {%>
								<p><%=lineItem.lineItemContent%></p>
							<% } %>
						</div>
						<div class="col-4">
							<h3>Value</h3>
							<% for(let lineItem of transaction.lineItems) {%>
								<p>$<%=lineItem.lineItemValue%></p>
							<% } %>
						</div>
						<hr>
					</div>
						<div class="row mb-2 inline-block">
							<div class="col-4 offset-4">
								<p class="display-6">TOTAL:</p>
							</div>
							<div class="col-4">
								<p class="display-6 fw-bold">$<%=transaction.total%></p>
							</div>
						</div>
					<div class="row mb-2">
						<div class="col-12">
							<h3>Transaction Notes:</h3>
							<%= transaction.transactionNotes%>
						</div>
					</div>
					<div class="row mb-2">
						<div class="d-grid col-3">
							<a href="/owner/transactions/new" class="btn btn-success">Start a New Transaction</a>
						</div>
						<div class="d-grid col-3">
							<a href="/owner/transactions" class="btn btn-success">Go to Reports</a>
						</div>
						<div class="d-grid col-3">
							<a href="/owner/transactions/<%=transaction._id%>/edit" class="btn btn-success">Edit Transaction</a>
						</div>
						<!-- <div class="d-grid col-3"> -->
							<form class="d-grid col-3" action="/owner/transactions/<%=transaction._id%>?_method=DELETE" method=POST>
								<button class="btn btn-danger">Delete Transaction</button>
							</form>
						<!-- </div> -->
					</div>
			</div>
		</div>
	</div>
</div>






